.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background-color: var(--bg-color);
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: var(--text-color);
}
.main .nav img{
    width: 40px;
    border-radius: 50%;
}
.main-content{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: var(--text-color);
    font-weight: 500;
    padding: 20px;
}
.main .greet span{
    background: linear-gradient(16deg, var(--gradient-start), var(--gradient-end));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main .Cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}
.main .card {
    height: 200px;
    padding: 15px;
    background-color: var(--card-bg);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}   
.main .card img{
    width: 35px;
    position: absolute;
    padding: 5px;
    background-color: var(--bg-color);
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}
.main .card p{
    font-size: 20px;
    color: var(--text-color);
}
.main .card:hover{
    background-color: var(--hover-color);
}
.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--card-bg);
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box img{
    width: 25px;
    cursor: pointer;
}
.search-box input{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    color: var(--text-color);
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
    color: var(--text-color);
}
.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}
.result::-webkit-scrollbar {
    display: none;
}
.result-title{
    margin: 40px 0px ;
    display: flex;
    align-items: center;
    gap: 20px;
}
.result img{
    width: 30px;
    border-radius: 50%;
}
.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
    padding: 10px 0px;
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loader hr{
    border-radius: 4px;
    border: none;
    background-color: var(--card-bg);
    background: linear-gradient(to right, var(--gradient-start), var(--bg-color), var(--gradient-start));
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}
@keyframes loader {
    0% {
        background-position: -800px 0px;
    }
    100% {
        background-position: 800px 0px;
    } 
}
.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    color: var(--text-color);
}
@media (max-width: 768px) {
    .main-bottom input{
        flex: none;
        width:150px;
    }.main-bottom img{
        width: 20px;
    }.search-box{
        padding: 5px 10px;
    }.search-box div{
        gap: 5px;
    }

}
